body{
    font-family: "Roboto",sans-serif;
    width:100%;
    height:100vh;
    overflow: hidden;
    .container-form{
        background-image: url("https://wallpaperaccess.com/full/2926791.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .switch-active{
        .forms{
            &::after{
                left: 50%;
            }
        }
    }
}